//assets import
@import "../assets";

.top-msg-edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-msg-editor {
  width: 90%;
  padding: 10px;
  min-height: 200px;
  margin-bottom: 30px;
}

.component-config-wrapper {
  $max-width: 1000px;
  $card-padding-column: 50px;

  .btn {
    margin: auto;
  }

  .read-student-list,
  .btn__submit {
    padding: 10px 50px;
    background: $moss-green;
    color: white;
  }

  .erace-today-data-all {
    padding: 10px 50px;
    background: $vermilion;
    color: white;
  }

  .setting-btn-container .btn:not(:last-child) {
    margin-bottom: 30px;
  }

  h2 {
    background: $navy;
    color: white;
    display: table;
    width: $max-width;
    margin: 0 auto $card-padding-column;
  }

  .back-to-top-btn {
    margin-top: 30px;
    margin-bottom: 100px;
  }

  .item-wrapper {
    align-items: center;
    margin: 50px auto;
    width: $max-width;
    background: lighten(lightgray, 5%);
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: $card-padding-column;
    box-shadow: 4px 4px 3px 1px lightgray;
  }

  // .btn__typeC{
  //   margin-top: 200px;
  // }
}

.toggle-btn-container {
  $toggleWrapperWidth: 90px;
  $toggleWrapperHeight: 40px;
  $toggleSize: 30px;

  padding: 20px 0;
  display: grid;
  // grid-template-rows: auto;
  grid-template-columns: 400px 120px;
  justify-content: center;
  text-align: left;
  grid-gap: 30px;

  .toggle-wrapper {
    width: $toggleWrapperWidth;
    height: $toggleWrapperHeight;
    cursor: pointer;
    border: 0;
    border-radius: 100px;

    display: flex;
    align-items: center;

    &.active {
      justify-content: flex-end;
      background: $moss-green;
      &:hover {
        background: darken($gray, 10%);
      }
      // border: $vermilion 5px solid;
      // padding-left: 0;
      // padding-right: 0;
    }

    &.unactive {
      justify-content: flex-start;
      background: $navy;
      &:hover {
        background: lighten($light-gray, 10%);
      }
    }

    &:hover {
      // border: $vermilion 5px solid;
      // padding-left: 0.8px;
      // padding-right: 0.8px;
    }
  }

  .toggle {
    display: block;
    width: $toggleSize;
    height: $toggleSize;
    border-radius: $toggleSize * 10;
    pointer-events: none;
    background: white;
  }
}
