$emerald-green: #82D4BB;
$moss-green: #20A39E;
$vermilion: #FF4A1C;
$orange: #EE964B;
$gray: #707070;
$light-gray: lighten($gray, 20%);
$navy: #2E294E;

$high: darken(#00A1E4, 10%);
$middle: darken(#04E762, 10%);
$elementary: darken(#F5B700, 2%);