//assets import
@import "./assets";

//common styles or Top.js styles
ul{padding:0;}
li{list-style: none;}

.App{
  padding: 50px 0px 200px;
  *{line-height: 2;}
}

.btn{
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  display: block;
  margin: auto;
  font-weight: bold;

  &:hover{
    background: $gray;
  }
}

.btn__exit{
  box-shadow: 5px 5px 5px 3px $light-gray;
  background: $navy;
  color: white;
  width: 350px;
  height: 75px;
  margin-bottom: 200px;
  font-size: 3rem;
}

.btn__typeC,
.btn__close{
  background: $navy;
  color: white;
  padding: 5px 35px;
  border-radius: 100px;
}

.btn__typeB{
  width: 200px;
  height: 50px;
  font-size: 2rem;
}

.btn__yes,
.btn__no{
  color: white;
  width: 150px;
  height: 50px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.8rem;
  border-radius: 5px;
}

.btn__yes{
  background: $moss-green;
}

.btn__no{
  background: $vermilion;
  margin-left: 30px;
}
