//assets import
@import "./assets";

.component-config-wrapper{
  .btn{
    margin: 30px auto;
  }

  .read-student-list{
    padding: 10px 50px;
    background: $moss-green;
    color: white;
  }

  .btn-container{
    margin-bottom: 100px;
  }
}