//assets import
@import "./assets";

.modal-wrapper{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-modal-wrapper{
  background: white;
  padding: 50px;
  border-radius: 20px;
  font-size: 2rem;
  p:first-child{
    font-weight: bold;
  }

  .btn{
    margin-top: 30px;
  }

  .current-operation b{
    display: inline-block;
    margin: 0 10px;
  }

  .enter-confirm-selector-container,
  .exit-confirm-selector-container{
    p{margin-bottom: 30px;}

    .btn__yes,
    .btn__no{
      margin-top: 0;
    }
  }
}
::-webkit-scrollbar {
  width: 0px;
}

.seats-modal-wrapper{
  $wrapper-height: 800px;
  $wrapper-width: 1152px;
  $wrapper-padding: 30px;
  $top-nav-height: 75px;

  font-size: 2rem;
  padding: $wrapper-padding;
  border-radius: 20px;
  background:white;
  width: $wrapper-width;
  height: $wrapper-height;
  overflow: auto;

  .seats-modal-container.scroll{
    height: 650px;
    overflow-y: auto;
    margin: 0;

    &::-webkit-scrollbar {
      width: 15px;
    }
    &::-webkit-scrollbar-track {
      background: lightgray;
    }
    
    &::-webkit-scrollbar-thumb {
      background: $navy;
      border: $navy 3px solid;
      border-radius: 10px;
    }
  }

  .all-seats-unactive{
    margin-top: 250px;
  }
  

  .btn__typeB{
    margin-top: 100px;
  }

  .active-seat-user,
  .active-seat-navigation{
    // cursor: pointer;
    display: grid;
    grid-template: 1fr / repeat(5, 1fr) ;
    align-items: center;

    .btn__close{
      grid-column: 5 / 6;
      border-radius: 0;
      // width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .close-button-icon{
      margin-right: 10px;
    }
  }

  .active-seat-navigation{
    //高さのmax: 
    padding-right: 15px;//スクロールバー分のズレ
    height: 75px;

    b{
      :nth-child(2){
        border: 1px solid $light-gray;
        border-bottom: 0;
        border-top: 0;
      }
    }
  }

  .active-seat-user{
    padding: 15px 0;

    .button__typeC{
      // width: 150px;
      height: 50px;
      margin: 0 auto;

    }
    .btn-exit{
      background: $vermilion;
      &:hover{background: darken($vermilion, 20%);}
    }
    .btn-change-seat{
      background: $moss-green;
      &:hover{background: darken($moss-green, 20%);}
    }

    span{
      pointer-events: none;//クリックした際にidを入手するために必要なので消さないこと
    }

    &:not(:last-child){
      border-bottom: $gray 1px solid;
    }

    // &:hover{
    //   background: $gray;
    //   color: white;
    // }
  }

  .seat-table-container{
    margin-top: 70px;
  }

  .title-nav h2{
    grid-column: 2/5;
  }
}

.error-modal-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background: $orange;
  width: 1000px;
  padding: 50px;
  border-radius: 20px;

  h2{
    margin-bottom: 50px;
  }

  .btn{
    margin-top: 50px;
  }
}